body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
}

header {
	background-color: #ff6f61;
	color: white;
	padding: 1rem;
	text-align: center;
}

.gemrec-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
	padding: 1rem;
}

.gemrec-card {
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.2s, background-color 0.2s;
	border: none;
}

.gemrec-card:hover {
	transform: scale(1.05);
	background-color: #f9f9f9;
}

.gemrec-card img {
	width: 100%;
	object-fit: cover;
	margin-bottom: 0.5rem;
}

.gemrec-card span {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin-top: 0.5rem;
}

.gemrec-card:focus {
	outline: 2px solid #ff6f61;
}

.gemrec-card h2 {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.gemrec-card p {
	margin: 0.5rem 0;
}

.gemrec-card a {
	display: inline-block;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: #ff6f61;
	color: white;
	text-decoration: none;
	border-radius: 4px;
}

.gemrec-card a:hover {
	background-color: #ff4f41;
}

#Analytics {
	display: flex;
	justify-content: flex-end;
	padding-right: 2%;
	text-decoration: none;
	color: black;
}
